name: Run Python Unit Tests

on:
  workflow_run:
    workflows: ["Lint and Security Scan"]
    branches: [main]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./operator/requirements.txt
          pip install pytest pytest-asyncio

      - name: Run tests
        run: |
          pytest ./operator/test_main.py
